name: pipeline

on:
  push:
    branches: [ main, develop, 'release/*' ]
  pull_request:
    branches: [ main, develop, 'release/*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build & Unit Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
  
      - name: Set up JDK 21 and Cache Maven packages
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
  
      - name: Run Build and Tests
        run: mvn -B verify
  
      - name: Upload workspace for subsequent jobs
        uses: actions/upload-artifact@v4
        with:
          name: workspace
          path: .

      - name: Upload application artifact (.jar) for publishing
        uses: actions/upload-artifact@v4
        with:
          name: application-jar
          path: target/*.jar

  code-analysis:
    name: Code Quality Analysis
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      - name: Checkout code (for SonarCloud SCM)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
  
      - name: Download workspace
        uses: actions/download-artifact@v4
        with:
          name: workspace
  
      - name: Run SonarCloud Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=AlexPires1_techchallenge-12SOAT

  validate-dockerfile:
    name: Validate Dockerfile
    runs-on: ubuntu-latest
    needs: build-and-test

    permissions:
      contents: read
      security-events: write
      actions: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lint Dockerfile for best practices
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./Dockerfile
          ignore: DL3006


      - name: Scan Dockerfile's base images for vulnerabilities with Trivy
        uses: aquasecurity/trivy-action@0.22.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'HIGH,CRITICAL'
          
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

  build-and-push-image:
    name: Build, Scan & Push Docker Image
    runs-on: ubuntu-latest
    needs: [code-analysis, validate-dockerfile]
    permissions:
      contents: read
      packages: write
      security-events: write

    steps:
      - name: Download workspace
        uses: actions/download-artifact@v4
        with:
          name: workspace
      
      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Scan built image for vulnerabilities with Trivy
        uses: aquasecurity/trivy-action@0.22.0
        with:
          image-ref: ${{ steps.meta.outputs.tags }}
          format: 'sarif'
          output: 'trivy-image-results.sarif'
          ignore-unfixed: true
          severity: 'HIGH,CRITICAL'
          
      - name: Upload Trivy image scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-image-results.sarif'

      - name: Push Docker image to GHCR
        run: docker push --all-tags ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
